.statistics {
  width: 300px;
}

.stat_list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  width: 60px;
  text-align: center;
  background-color: pink;
}

.label {
  color: white;
}
